<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item [routerLink]="['/home']"><i class="fas fa-home"></i></li>
      <li nz-menu-item [routerLink]="['/clientes']"><i class="fas fa-users"></i> Clientes</li>
      <li nz-menu-item [routerLink]="['/productos']"><i class="fas fa-box-open"></i> Productos</li>
      <li nz-menu-item [routerLink]="['/ordenes']"><i class="fas fa-desktop"></i> Ordenes</li>
    </ul>
  </nz-header>
  <div nz-row>
    <div nz-col nzSpan="24" style="text-align: -webkit-center;">
      <img alt="productos" src="../../../assets/recibido.png" width="100px" style="margin-top: 20px;"/>
      <div class="table">
        <button nz-button nzType="primary" [routerLink]="['/productos/agregar']">Agregar producto</button>
        <nz-table #productosTable [nzData]="dataTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of productosTable.data">
              <td>{{ data.id }}</td>
              <td>{{ data.nombre }}</td>
              <td>{{ data.descripcion }}</td>
              <td>{{ data.precio }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>

</nz-layout>
